/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
}
#heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
    border-width:5px;
	border-style:solid;
	border-left-color:green;
	padding:10px;
}